.page-header {
    margin: 0px 0 0px;
    padding-bottom: 0px;
 }

.navbar {

  background-color: #00af64;
	margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a{
	color: #000;
}

.navbar-default .navbar-brand{
	color: #cc0000;
  background-color: #008a2e;
}

html{
	color: black;
}

.navbar-nav li:before {
content: "|";
position: absolute;
top: 15px;

}

.navbar-nav li:first-child:before {
content: none;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #a3ff75;/*#c2ffc2;*/
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #80ea69;
  text-align: center;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

#center-block {
  width: 80%;
  left: auto;
  right: auto;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 10px;
 box-shadow: 0px 0px 20px #888888;
}

.form-head-lable {
  font-size: 30px;
}